.dropup {
  position: absolute;
  left: 85px;
  bottom: 60px;
  border: 2px outset rgb(197, 197, 197);
  background-color: #c3c3c3;
  padding: 0;
  color: #0062cc;
  text-align: left;
  border-radius: 0.25rem;
}
.dropup > p {
  margin: 0;
  padding: 0.375rem 0.88rem;
  border-bottom: 1px solid rgb(235, 235, 235);
  min-width: 140px;
}
.dropup > p:hover {
  color: #fff;
  background-color: #0062cc;
}
.dropup > p:last-child {
  border-bottom: 0 none;
}