.header-nav {
    overflow: hidden;
    margin: 5px;
}

.header-nav a {
    float: left;
    display: block;
    color: rgb(203, 148, 255);
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.header-nav a:hover {
    background-color: violet;
    color: black;
}

.header-nav h1 {
    float: right;
    color: rgb(203, 148, 255);
}
.header-nav h1:hover {
    background-image: url(https://github.com/cat-milk/Anime-Girls-Holding-Programming-Books/blob/master/Python/Aoba_Suzukaze_techgo_Python_For_Beginners.png?raw=true);
    background-size: 100% 100%;
}

.column-main {
    float: left;
    width: 20%;
    padding: 15px;
}
.column-sub {
    float: right;
    width: 40%;
    padding: 15px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
body {
    background-image: url(https://wallpaperaccess.com/full/2315286.jpg);
    background-color: #0be067b6;
    background-size: cover;
    text-align: center;
    margin: 0%;
}

button {
    background-color: transparent;
}

.desktop-app-launcher {
    float: left;
}
.desktop-app-launcher a{
    color: black;
    text-decoration: none;
    border-style: ridge;
    padding: 5px;
}

.desktop-app-launcher a:hover{
    background-color: #818181;
}
.desktop-icon {

}
.desktop-icon img{
    height: 48px;
    width: 48px; 
}
.desktop-icon span {
    display: block;
    color: white;
    font-size: 11px;
    text-align: center;
}
.pseudo-taskbar {
    bottom: 0;
    padding: 15px;
    background-color: #c3c3c3;
    position: fixed;
    width: 100%;
}